#grad1 {
  height: auto;
  /* Rectangle */
  background: linear-gradient(180deg, #185A9D -31.05%, #43CEA2 16.64%, rgba(118, 202, 175, 0.604068) 25.88%, rgba(204, 227, 220, 0.2) 99.02%);
  opacity: 1.00;
}

.jumbotron {
  background: #34A7A0;
}

.h2 {
  color: #F2F2F2;
}

.h5 {
  color: red;
}

a {
    color: red;
}

#ipad_frame {
  position: absolute;
  left: 124px;
  top: -42px;
  z-index: -1;
}

@media screen and (max-width: 568px) {
  .display-4 {
    font-size:28px;
    }
    h3 {
      font-size: 18px
    }
    .lead {
      font-size: 16px
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 568px) {

}
